@model Emlakkko.Ozellik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ozellik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OzellikTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OzellikTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ev.EvTipi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
